.pad-top{
    padding:20px 0;
}
.fill{
    width:100%;
    height:360px;
}
.box{
    box-shadow: 0 0 5px #000;
}

.con{
    text-indent:2em;
}

.text-hidden{
    max-width:70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author{
    color:orangered;
}

.date{
    color:chocolate;
}